.article {
  min-height: 200px;
  padding-bottom: 15px;
  padding-top: 15px;

  &__content {
    img {
      @include img-fluid();
      @include clearfix();
      @include border-radius(0.25rem);

      background-color: #fff;
      border: 1px solid #dee2e6;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 0.25rem;
    }
  }
}
