.header {
  @media print {
    display: none;
  }

  @include make-row;

  &__container {
    @include make-col-ready;

    text-align: center;
  }

  &__site-name-link,
  &__site-name-link:hover {
    color: inherit;
  }
}
