<% content_for :title, t('.title') %>
<% content_for :page_icon, t('.icon') %>

<%= simple_form_for @site, url: admin_stylesheet_path, method: :patch do |form| %>
  <pre class="css-editor">
    <%= form.text_area :css, class: 'css-editor__input js-autogrow', autofocus: true %>
  </pre>

  <div class="form__buttons">
    <%= form.button :submit %>
    <%= link_to t('actions.cancel'), page_path('home'), class: 'button--cancel' %>
  </div>
<% end %>
