/.bundle/
/.vagrant/
/config/deploy/*.rb
/config/deploy/*.secrets.yml
/config/secrets.yml
/coverage/
/log/*.log
/public/test_uploads/
/public/uploads/
/puppet/.librarian/
/puppet/.tmp/
/puppet/modules/
/tmp/
/vendor/bundle/
