{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": [
    "@namics/stylelint-bem"
  ],
  "rules": {
    "max-nesting-depth": 2,
    "plugin/stylelint-bem-namics": {
      "patternPrefixes": []
    },
    "scss/at-extend-no-missing-placeholder": null
  }
}
