- content_for :title, t('.title')

= simple_form_for resource, as: resource_name, url: unlock_path(resource_name) do |form|
  = form.input :email, required: true, autofocus: true

  .form-group
    .col-control-offset
      = form.button :submit, t('.submit')
