- content_for :title, t('.title')
- content_for :page_icon, t('.icon')

- content_for :body_id, 'page_url_sitemap'

%ul#sitemap.list-unstyled
  - @pages.each do |page|
    - next if page.private and !authenticated?
    %li
      = link_to(page.name, page_path(page.url))
      = icon(t('pages.show.private.icon')) if page.private
