- content_for :title, t('.title')
- content_for :page_icon, t('.icon')

%ul.list-unstyled#cms-sitemap
  - @pages.each do |page|
    %li
      = link_to(page.name, page_path(page.to_param))
      = icon_tag(t('pages.show.hidden.icon')) if page.hidden?
      = icon_tag(t('pages.show.private.icon')) if page.private?
