NEW_RELIC_APP_NAME: 'cms'
# NEW_RELIC_LICENSE_KEY:
SECRET_KEY:

development:
  COUCHDB_URL: 'http://127.0.0.1:5984'
  COUCHDB_NAME: 'development_cms'
  COUCHDB_BACKUP_URL: 'http://127.0.0.1:5984/development_cms_backup'

  FOG_PROVIDER: 'Rackspace'
  RACKSPACE_API_KEY:
  RACKSPACE_AUTH_URL:
  RACKSPACE_USERNAME:

  SMTP_ADDRESS: localhost
  SMTP_PORT: 1025

test:
  COUCHDB_URL: 'http://127.0.0.1:5984'
  COUCHDB_NAME: 'test_cms'
  COUCHDB_BACKUP_URL: 'http://127.0.0.1:5984/test_cms_backup'

production:
  # CLOUDANT_URL:
  COUCHDB_NAME: 'production_cms'
  # COUCHDB_BACKUP_URL:

  ASSET_HOST:
  FOG_PROVIDER: 'Rackspace'
  RACKSPACE_API_KEY:
  RACKSPACE_AUTH_URL:
  RACKSPACE_USERNAME:

  SMTP_ADDRESS: 'smtp.sendgrid.net'
  SMTP_PORT: 587
  # SENDGRID_USERNAME:
  # SENDGRID_PASSWORD:

  # SENTRY_DSN:
