NEW_RELIC_APP_NAME: 'cms'
# NEW_RELIC_LICENSE_KEY:
SECRET_KEY:

development:
  COUCHDB_BACKUP_URL: 'http://127.0.0.1:5984/development_cms_backup'
  COUCHDB_URL: 'http://127.0.0.1:5984/development_cms'

  FOG_PROVIDER: 'Rackspace'
  RACKSPACE_API_KEY:
  RACKSPACE_AUTH_URL:
  RACKSPACE_USERNAME:

  SMTP_ADDRESS: localhost
  SMTP_PORT: 1025

  CAP_APP_SERVERS:
  CAP_DB_SERVERS:
  CAP_SSH_PORT:
  CAP_WEB_SERVERS:

test:
  COUCHDB_BACKUP_URL: 'http://127.0.0.1:5984/test_cms_backup'
  COUCHDB_URL: 'http://127.0.0.1:5984/test_cms'

production:
  # CLOUDANT_URL:
  # COUCHDB_BACKUP_URL:

  ASSET_HOST:
  FOG_DIRECTORY: 'production_cms'
  FOG_PROVIDER: 'Rackspace'
  RACKSPACE_API_KEY:
  RACKSPACE_AUTH_URL:
  RACKSPACE_USERNAME:

  SMTP_ADDRESS: 'smtp.sendgrid.net'
  SMTP_PORT: 587
  # SENDGRID_USERNAME:
  # SENDGRID_PASSWORD:

  # AIRBRAKE_API_KEY:
