development:
  database: 'postgres://cms_development:password@localhost/cms_development'
  dev_assets: true
  redis_server: 'redis://127.0.0.1:6379/0/cms-development'
  secret_key_base: 'xxxxxxxxxxxxxxxxxxxx'
  smtp_address: 'localhost'
  smtp_port: 1025
  timeout: 10
  uploads_storage: 'file'
  uploads_store_dir: 'uploads'

test:
  database: 'postgres://cms_test:password@localhost/cms_test'
  loaderio_token: 'loaderio-12345'
  redis_server: 'redis://127.0.0.1:6379/0/cms-test'
  secret_key_base: 'xxxxxxxxxxxxxxxxxxxx'
  uploads_storage: 'file'
  uploads_store_dir: 'test_uploads'

production:
  database: 'postgres://cms_development:password@localhost/cms_development'
  redis_server: 'redis://127.0.0.1:6379/0/cms-development'
  secret_key_base: 'xxxxxxxxxxxxxxxxxxxx'
  uploads_storage: 'file'
  uploads_store_dir: 'uploads'
