development:
  couchdb_url: 'http://127.0.0.1:5984/cms-development'
  loaderio_token: 'loaderio-12345'
  redis_server: 'redis://127.0.0.1:6379/0/cms-development'
  secret_key_base:
  smtp_address: 'localhost'
  smtp_port: 1025
  uploads_storage: 'file'
  uploads_store_dir: 'uploads'

test:
  couchdb_url: 'http://127.0.0.1:5984/cms-test'
  loaderio_token: 'loaderio-12345'
  redis_server: 'redis://127.0.0.1:6379/0/cms-test'
  secret_key_base:
  uploads_storage: 'file'
  uploads_store_dir: 'test_uploads'

