- content_for :title, t('.title')

= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |form|
  = form.input :email, autofocus: true
  = form.input :password

  .form-group
    .col-control-offset
      = form.button :submit, value: t('.title')
