.topbar {
  @extend .bg-dark;
  @extend .fixed-top;
  @extend .navbar-dark;
  @extend .navbar-expand-md;
  @extend .navbar;

  &__button {
    @extend .navbar-toggler;
  }

  &__button-text {
    @extend .navbar-text;
  }

  &__button-hamburger {
    @extend .navbar-toggler-icon;
  }

  &__item {
    @extend .nav-item;
  }

  &__link {
    @extend .nav-link;
  }

  &__site-name {
    @extend .navbar-brand;
  }

  &__collapse {
    @extend .navbar-collapse;
  }

  &__links {
    @extend .navbar-nav;
    @extend .ml-auto;
  }

  &__profile-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}
