.footer {
  @media print {
    display: none;
  }

  @include make-row;

  font-size: 80%;

  &__container {
    @include make-col-ready;

    text-align: center;
  }

  &__menu {
    @include list-unstyled;

    line-height: 16px;
    margin-top: 11px;
  }

  &__links,
  &__site-links {
    @extend .list-inline;
  }

  &__link-item,
  &__site-link-item {
    @extend .list-inline-item;
  }
}
