@media print {
  @include responsive-invisibility('.header');
}

.header {
  @include make-row;

  &__container {
    @include make-sm-column(12);

    text-align: center;
  }

  &__site-name-link,
  &__site-name-link:hover {
    color: inherit;
  }

  &__sub-title {
    color: $headings-small-color;
    font-size: $jumbotron-font-size;
    font-weight: normal;
  }
}
