.image {
  @include media-breakpoint-up(md) {
    &--left {
      @include float-left();

      margin: 0 20px 20px 0;
    }

    &--right {
      @include float-right();

      margin: 0 0 20px 20px;
    }
  }

  &--circle {
    border-radius: 50%;
  }

  &--center,
  &--left,
  &--right {
    @include img-fluid();
    @include clearfix();

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
