.main-menu {
  @include make-row;

  &__bar {
    @extend .navbar;
    @extend .navbar-default;
  }

  &__container {
    @extend .container;
  }

  &__header {
    @extend .navbar-header;
  }

  &__button {
    @extend .navbar-toggle;
  }

  &__button-text {
    display: inline-block;
    float: left;
    line-height: 14px;
    padding-right: 10px;
  }

  &__button-hamburger {
    display: inline-block;
    float: left;
  }

  &__site-name {
    @extend .navbar-brand;
  }

  &__collapse {
    @extend .navbar-collapse;
  }

  &__links {
    @extend .nav;
  }
}
