.thumbnail-grid {
  @extend .card-columns;

  column-count: 2;

  @include media-breakpoint-up(md) {
    column-count: 4;
  }

  &__link {
    @extend .card;
  }

  &__image {
    @extend .card-img-top;
  }

  &__body {
    @extend .card-body;
  }

  &__name {
    @extend .card-title;
    text-align: center;
  }
}
