production:
  asset_host:
  aws_bucket:
  aws_host:
  aws_key:
  aws_region:
  aws_secret:
  database: 'postgres://cms_production:password@localhost/cms_production'
  new_relic_app_name: 'cms-production'
  new_relic_license_key:
  redis_server: 'redis://127.0.0.1:6379/0/cms-production'
  secret_key_base:
  sentry_dsn:
  smtp_address:
  smtp_password:
  smtp_port:
  smtp_username:
  uploads_storage: 'fog'
