production:
  asset_host:
  couchdb_url: 'http://127.0.0.1:5984/cms-production'
  fog_provider: 'Rackspace'
  new_relic_app_name: 'cms-production'
  new_relic_license_key:
  rackspace_api_key:
  rackspace_auth_url:
  rackspace_username:
  redis_server: 'redis://127.0.0.1:6379/0/cms-production'
  secret_key_base:
  sentry_dsn:
  smtp_address:
  smtp_password:
  smtp_port:
  smtp_username:
  uploads_storage: 'fog'
