production:
  asset_host:
  aws_bucket:
  aws_host:
  aws_key:
  aws_region:
  aws_secret:
  database: 'postgres://cms_staging:password@localhost/cms_staging'
  loaderio_token:
  new_relic_app_name: 'cms-staging'
  new_relic_license_key:
  redis_server: 'redis://127.0.0.1:6379/0/cms-staging'
  secret_key_base:
  sentry_dsn:
  smtp_address:
  smtp_password:
  smtp_port:
  smtp_username:
  uploads_storage: 'fog'

