production:
  SECRET_KEY:

  CLOUDANT_URL:
  COUCHDB_NAME: 'obduk-cms-staging'

  ASSET_HOST:

  UPLOADS_STORAGE: 'fog'
  FOG_PROVIDER: 'Rackspace'
  RACKSPACE_API_KEY:
  RACKSPACE_AUTH_URL:
  RACKSPACE_USERNAME:

  SMTP_ADDRESS: 'smtp.sendgrid.net'
  SMTP_PORT: '587'
  SENDGRID_USERNAME:
  SENDGRID_PASSWORD:

  NEW_RELIC_APP_NAME: 'obduk-cms-staging'
  NEW_RELIC_LICENSE_KEY:

  SENTRY_DSN:

  LOADERIO_VERIFICATION_TOKEN:

  TEST_ROUTES: true
