#topbar .avatar { padding: 5px }

#page_header {
  h1 a { color: inherit }

  h2 {
    color: $headings-small-color;
    font-size: $jumbotron-font-size;
    font-weight: normal;
  }
}

#main_menu, #footer_main_menu {
  .navbar {
    border-radius: 0;
    margin-bottom: 0;

    .nav > li > a:focus,
    .nav > li > a:hover { background-color: $navbar-default-link-active-bg }
  }
}

#main {
  h1, h2 {
    padding-bottom: (($line-height-computed / 2) - 1);
    border-bottom: 1px solid $page-header-border-color;
  }

  h1, h2, h3 { @include clearfix }
}

#main_article {
  background: $body-bg;
  min-height: 200px;
  padding-top: 15px;
}

#page_footer {
  ul.list-unstyled { margin-top: 11px }

  li { line-height: 16px }
}

pre.css { padding: 0 }

#site_css {
  background-color: inherit;
  border: 0;
}
