#cms-site-name a { color: inherit; }

#cms-site-sub-title {
  color: $headings-small-color;
  font-size: $jumbotron-font-size;
  font-weight: normal;
}

.cms-main-menu {
  .navbar {
    border-radius: 0;
    margin-bottom: 0;
  }

  a:focus,
  a:hover { background-color: $navbar-default-link-active-bg; }
}

#cms-main {
  h1,
  h2 {
    border-bottom: 1px solid $page-header-border-color;
    padding-bottom: (($line-height-computed / 2) - 1);
  }

  h1,
  h2,
  h3 { @include clearfix; }
}

#cms-article {
  background: $body-bg;
  min-height: 200px;
  padding-top: 15px;
}

#cms-footer {
  .list-unstyled { margin-top: 11px; }

  li { line-height: 16px; }
}
