#topbar .avatar { padding: 5px;  }

#page_header {
  h1 a { color: inherit;  }

  h2 {
    color: $headings-small-color;
    font-size: $jumbotron-font-size;
    font-weight: normal;
  }
}

#main_menu,
#footer_main_menu {
  .navbar {
    border-radius: 0;
    margin-bottom: 0;
  }

  a:focus,
  a:hover { background-color: $navbar-default-link-active-bg; }
}

#main {
  h1,
  h2 {
    border-bottom: 1px solid $page-header-border-color;
    padding-bottom: (($line-height-computed / 2) - 1);
  }

  h1,
  h2,
  h3 { @include clearfix; }
}

#main_article {
  background: $body-bg;
  min-height: 200px;
  padding-top: 15px;
}

#page_footer {
  .list-unstyled { margin-top: 11px; }

  li { line-height: 16px; }

  #social_network_links {
    font-size: 26px;
    margin: 10px;
  }

  #facebook a { color: #3b5998; }

  #twitter a { color: #55acee; }

  #linkedin a { color: #0976b4; }

  #github a { color: #333; }
}

.css { padding: 0; }

#site_css {
  background-color: inherit;
  border: 0;
}
