/*
 *= require bootstrap_and_overrides
 *= require sections
 *= require_self
 *= require_tree .
*/

.input-full { width: 98% }

#site_css {
  background-color: inherit;
  border: 0;
  box-shadow: none;
  font: inherit;
  width: 100%;
}

div.tinymce {
  outline: 1px dotted #333;
}

table a {
  display: block;
}
