#page_header {
  h1 a { color: inherit }

  img {
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    color: #999999;
    font-size: 17.5px;
    font-weight: normal;
  }
}

#main_menu {
  padding: 0;

  .navbar { margin-bottom: 0 }
}

#main {
  h1, h2 { border-bottom: 1px solid #eeeeee }

  h1, h2, h3 {
    clear: both;
    padding-bottom: 9px;
  }
}

#main_article {
  background: white;
  min-height: 200px;
  padding-top: 15px;
}

#page_footer {
  ul.list-unstyled { margin-top: 11px }

  li { line-height: 16px }
}

#site_css {
  background-color: inherit;
  border: 0;
  box-shadow: none;
  font: inherit;
}

div.tinymce { outline: 1px dotted #333 }

table a { display: block }
