:ruby
  content_for :title, t('.title')
  content_for :page_icon, t('.icon')

= simple_form_for @site do |form|
  %pre.css= form.text_area :css, class: 'col-sm-12 js-autogrow', autofocus: true

  .form-group
    = form.button :submit
    = link_to t('actions.cancel'), page_path('home'), class: 'btn'
