:ruby
  content_for :title, t('.title')
  content_for :page_icon, t('.icon')

.thumbnail-grid
  - @images.each do |image|
    .thumbnail-grid__container
      = link_to(image.file.url, target: '_blank', class: 'thumbnail') do
        = image_tag(image.file.span3.url, alt: image.name)
        %h5.thumbnail-grid__name= image.name
