%nav.navbar.navbar-default
  .container
    %ul.nav.navbar-nav
      - site.main_menu_pages.each do |page|
        %li
          = link_to page_path(page.to_param), class: 'cms-page-link-' + page.to_param do
            %span= page.name
