%nav.footer-main-menu
  .footer-main-menu__bar
    .footer-main-menu__container
      %ul.footer-main-menu__links
        - site.main_menu_pages.each do |page|
          %li.footer-main-menu__link-item
            = link_to page_path(page.to_param), class: "footer-main-menu__link cms-page-link-#{page.to_param}" do
              %span.footer-main-menu__link-text= page.name
