%header.header#cms-header
  .header__container
    %h1.header__site-name#cms-site-name
      = link_to site.name, page_path('home'), class: 'header__site-name-link'

    - if site.sub_title
      %h2.header__sub-title#cms-site-sub-title= site.sub_title
