<header class="header">
  <div class="header__container">
    <h1 class="header__site-name">
      <%= link_to site.name, page_path('home'), class: 'header__site-name-link' %>
    </h1>
  </div>
</header>
