- unless @site.main_menu.blank?
  .row
    #main_menu.col-sm-12.hidden-print
      = nav_bar do
        = menu_group do
          - @site.main_menu.each do |link|
            = menu_item link["text"], link["url"]
