- unless @site.main_menu_pages.blank?
  .row
    #main_menu.col-sm-12.hidden-print
      = nav_bar do
        = menu_group do
          - @site.main_menu_pages.each do |page|
            = menu_item page.name, page_path(page.url)
