%main.main
  - if content_for(:form_page)
    %article.article.col
      .row.justify-content-md-center
        .col-md-6
          .card
            .card-body
              = render 'layouts/main_article'

  - elsif site.sidebar_html_content?
    %article.article.col-md-9
      = render 'layouts/main_article'
    %aside.sidebar.col-md-3
      = site.sidebar_html_content&.html_safe

  - else
    %article.article.col
      = render 'layouts/main_article'
